/GamesDB-war/nbproject/
/GamesDB-war/.settings
/GamesDB-war/.project
/GamesDB-war/.classpath
/GamesDB-war/build/
/GamesDB-war/dist/
/GamesDB-war/target/

/GamesDB-ejb/nbproject/
/GamesDB-ejb/.settings
/GamesDB-ejb/.project
/GamesDB-ejb/.classpath
/GamesDB-ejb/dist/
/GamesDB-ejb/build/
/GamesDB-ejb/target/

/GamesDB-ear/.settings
/GamesDB-ear/.project
/GamesDB-ear/nbproject/
/GamesDB-ear/target/

